<div class="my_answer">
  <p><%= params[:question] %></p>
  <p><strong>- You</strong></p>
</div>
<div class="coach_answer">
  <p><%= @answer %></p>
  <p><strong>- Stupid Coach</strong></p>
</div>

<p class="link_blue"><%= link_to "Ask a new question", ask_path %></p>
